<div class="PostPage">
<div class="PostItem">
    <h4 class="AndvariDynSizeSmall"><a href="<%= page.permpath  %><%= page.permsrc %>"><%= page.Wine %> : <%= page.Year %> : <%= page.Vinyard %></a></h4>
    <div class="row">
        <div class="col-md-8 col-11">
                <table class="table table-striped">
                    <thead>
                        <tr> <th scope="col">Info</th> <th scope="col">Value</th> </tr>
                    </thead>
                    <tbody>
                        <tr> <td>Winery</td> <td><%= page.Winery %></td> </tr>
                        <tr> <td>Wine</td> <td><%= page.Wine %> <%= page.Year %></td> </tr>
                        <tr> <td>Grape</td>
                             <td>
                                <table class="table table-striped">
                                <tbody>
                                    <% for (const grape in page.Grape) {
                                        var percent = page.Grape[grape]; %>
                                        <tr><td><%= percent %>%</td><td><%= grape %></td></tr>
                                    <% } %>
                                </tbody>
                                </table>
                             </td></tr>
                        <% if (page.Award) { %>
                        <tr> <td>Award</td>
                            <td>
                                <table class="table table-striped">
                                <tbody>
                                    <% for (var i in page.Award) {
                                        var award = page.Award[i]; %>
                                        <tr><td><%= award.event %></td><td><%= award.position %></td></tr>
                                    <% } %>
                                </tbody>
                                </table>
                            </td>
                        </tr>
                        <% } %>
                        <tr>
                            <td>Taste</td>
                            <td>
                                <table style="width:100%">
                                <% for (const info in page.Taste) { %>
                                    <% var name = info.split('-'); %>
                                    <tr style="width:100%">
                                        <td class="AndvariDynSizeSmall"><%= name[0]  %></td>
                                        <td style="width:100%">
                                        <div class="slidecontainer">
                                            <input style="width:100%" type="range" min="1" max="100" value="<%= page.Taste[info] %>" class="slider" readonly />
                                        </div>
                                        </td>
                                        <td class="AndvariDynSizeSmall"><%= name[1] %></td>
                                    </tr>
                                <% } %>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>Notes</td>
                            <td>
                                <% for (const info in page.Notes) { %>
                                    <%= info %><br>
                                <% } %>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="col-md-4 col-sm-1">
                    <img class="PostImg" src="/img/<%= page.Image %>">
        </div>
    </div>
    <div class="Author">Author: <%= page.Author %></div>
    <%
        var lines = page.content.split('\n');
        for (var i in lines) {
            if (lines[i] == "") {
                continue;
            } %>
        <p class="AndvariDynSizeSmall"><%= lines[i] %></p>
    <% } %>
</div>
</div>
