<div class="PostSummary">
    <h4 class="AndvariDynSizeSmall"><a href="<%= post.permpath  %><%= post.permsrc %>"><%= post.Winery %> <%= post.Wine %> <%= post.Year %></a></h3>
    <%
        var lines = (post.content.substring(0,200) + '...').split('\n');
        for (var i in lines) {
            if (lines[i] == "") {
                continue;
            } %>
        <p class="AndvariDynSizeSmall"><%= lines[i] %></p>
    <% } %>
</div>
